@import './measures.module.css';

.branch {
  font-size: text-size-small;
  list-style-type: '+ ';
  padding-inline-start: grid-baseline;
}

.branch:not(:has(.branch)) {
  list-style-type: '- ';
}

ul.root {
  list-style-type: none;
  padding-inline-start: 0;
}

li.root > ul {
  padding-left: calc(grid-baseline * 2);
}

li:not(:last-child) {
  padding-bottom: grid-baseline;
}

li:first-child {
  padding-top: grid-baseline;
}

.current {
  font-weight: bold;
}

.navItem {
  text-decoration: none;
}

.navItem:hover,
.navItem:active {
  text-decoration: underline;
}

.navItem,
.navItem:visited {
  color: inherit;
}

@media (mobile-breakpoint) {
  .branch {
    display: none;
  }

  li:first-child {
    padding-top: 0;
  }

  ul.root {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  li.root {
    flex: 1;
    padding-bottom: 0;
    text-align: center;
  }
}
