@import '../components/colors.module.css';
@import '../components/measures.module.css';

.body {
  align-items: stretch;
  border: 0;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: text-size-medium;
  height: 100%;
  margin: 0;
  position: absolute;
  width: 100%;
  /* default flex-direction: row */
}

.nav {
  border-right: separator-width solid separator-color;
  box-sizing: border-box;
  flex: 1;
  max-width: calc(grid-baseline * 40);
  padding: calc(grid-baseline * 2) grid-baseline calc(grid-baseline * 2)
    calc(grid-baseline * 2);
}

.scroll {
  flex: 3;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
}

.article {
  box-sizing: border-box;
  padding: calc(grid-baseline * 2);
}

/* mobile */
@media (mobile-breakpoint) {
  .body {
    flex-direction: column;
  }

  .nav {
    border-bottom: separator-width solid separator-color;
    border-right: unset;
    flex: 0;
    max-width: unset;
    padding: grid-baseline calc(grid-baseline * 2);
    width: 100%;
  }

  .article {
    flex-direction: column;
    overflow-y: auto;
    padding: grid-baseline calc(grid-baseline * 2);
  }
}
