# Deploys all packages to NPM
# to run locally `act workflow_dispatch --workflows ".\.github\workflows\workflow_call_npm.yaml"-s NPM_TOKEN=X`

name: NPM

on:
  workflow_call: ~
  workflow_dispatch: ~

jobs:
  all:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Cache Node.js modules
        id: cache
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Run install
        uses: borales/actions-yarn@v4.2.0
        with:
          cmd: install
      - name: Run build
        uses: borales/actions-yarn@v4.2.0
        with:
          cmd: build
      - name: Repackage for release
        uses: borales/actions-yarn@v4.2.0
        with:
          cmd: release:exports
      - name: Rewrite packages.json
        run: |
          find . -type f -name "package.release.json" | while read fname; do
            dirname=`dirname "$fname"`
            echo "$fname"
            mv -f "${dirname}/package.release.json" "${dirname}/package.json"
          done
      - name: Check everything still works
        uses: borales/actions-yarn@v4.2.0
        with:
          cmd: check-types

      - name: Deploy @@strictly/base
        uses: JS-DevTools/npm-publish@v4
        id: base
        with:
          package: ./packages/base
          provenance: true
          access: public

      - name: Deploy @strictly/define
        uses: JS-DevTools/npm-publish@v4
        id: define
        with:
          package: ./packages/define
          provenance: true
          access: public

      - name: Deploy @strictly/react-form
        uses: JS-DevTools/npm-publish@v4
        id: react_form
        with:
          package: ./packages/react-form
          provenance: true
          access: public

      - name: Deploy Status
        run: |
          echo "${{ steps.base.outputs.name }} ${{ steps.base.outputs.version }} ${{ steps.base.outputs.type }}"
          echo "${{ steps.define.outputs.name }} ${{ steps.define.outputs.version }} ${{ steps.define.outputs.type }}"
          echo "${{ steps.react_form.outputs.name }} ${{ steps.react_form.outputs.version }} ${{ steps.react_form.outputs.type }}"
